<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %> </title>
  <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
</head>
<body>
  <div id="rskmin">
    <%= htmlWebpackPlugin.options.content %>
  </div>
  <!-- 如果需要jQuery 打开该注释, 想获得编程提示信息(npm i -D @types/jquery)  -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</body>
</html>