// 主题色
$colorPrimaryShallow: #fff8cd;
$colorPrimary: #ffe05d;
$colorPrimaryDeep: #ff9642;
$colorPrimaryGray: #646464;
$colorSuccess: #00cc00;
$colorWarn: #ff7400;
$colorError: #f02929;
$colorInfo: #969696;
$colorCard: mix(#fff, $colorPrimaryShallow, 60%);
$colorShadow: mix($colorPrimaryDeep, $colorPrimaryShallow, 20%);
$colorShadowDeep: mix($colorPrimaryDeep, $colorPrimaryShallow, 25%);
$disabled: #f5f7fa;
$disabledLight: #fcfcfc;
$disabledDeep: #c6c6c6;
$disabledText: #c0c4cc;

// 圆角
$radius: 3px;
$radius-lg: 6px;

// 间距
$p4: 4px;
$p8: 8px;
$p12: 12px;
$p16: 16px;
$p20: 20px;
$p24: 24px;
$p28: 28px;
$p32: 32px;

// others
$bottom-bar: 6px;
